body {
  font-family: 'Aeonik Pro', sans-serif;
  font-size: 14px;
  line-height: calc(20 / 14);
  -webkit-font-smoothing: antialiased;
  display: grid;
}

:global(body.isIframe) {
  display: block;
  height: initial;
  background-color: transparent;
}

:global(.popup-only) {
  display: none;
}

body.layoutPopup :global(.popup-only) {
  display: block;
}

:global(#root) {
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:global(.fadeIn) {
  animation: fadeIn 0.2s;
}

:global(#friendly-captcha) {
  position: fixed;
  top: 2000px;
}
