.layoutPopup {
  --layout-popup-width: 400px;
  --layout-popup-height: 600px;
  width: var(--layout-popup-width);
  height: var(--layout-popup-height);
  overflow: hidden;
  margin-inline: auto;
}

:global(.popup-only) {
  display: none;
}

.layoutPopup :global(.popup-only) {
  display: block;
}
